= form_with model: @item, :html => {:class => "sell-form"} do |f|
  = f.select :second_category_id, options_from_collection_for_select(@second_categories, :id, :name), {prompt: '---'}, {data: {remote: true, url: url_for(action: :select_second_category)}}
  %i.fas.fa-angle-down
